<div class="container mt-4">
  <div class="col-md-12 mt-3">
    <h5>Kitnet em frente à praia no bairro Caiçara</h5>
  </div>
  <div class="row">
    <div class="col-md-6">
      <span>
        <fa-icon [icon]="icons.star"></fa-icon>
        {{ payload.stars }}
      </span>
      <span> - {{ payload.comments }} comentários </span>
      <span>
        <fa-icon [icon]="icons.medal"></fa-icon>
        Superhost
      </span>
    </div>
    <div class="col-md-6 text-end">
      <span>
        <fa-icon [icon]="icons.share"></fa-icon>
        Compartilhar
      </span>
      <span class="mx-2">
        <fa-icon [icon]="icons.heart"></fa-icon>
        Salvar
      </span>
    </div>
  </div>
</div>
