<div class="col-md-12">
  <h5>Espaço inteiro: apartamento (hospedado por alberto)</h5>
</div>
<div class="col-md-12">
  <span>6 hóspedes</span>
  <span class="mx-1">2 quartos</span>
  <span>4 camas</span>
  <span class="mx-1">2 banheiros</span>
  <hr class="my-4" />
</div>

<div class="col-md-12">
  <fa-icon [icon]="icons.computer" [classes]="['text-primary']"></fa-icon>
  <span class="mx-2">
    <b>Espaço de trabalho exclusivo:</b>
    <small class="mx-1"
      >Uma área comum com WI-FI adequada para trabalhar.</small
    >
  </span>
</div>

<div class="col-md-12 mt-2">
  <fa-icon [icon]="icons.medal" [classes]="['text-primary']"></fa-icon>
  <span class="mx-2">
    <b>Alberto é um Superhost:</b>
    <small class="mx-1"
      >Superhosts são anfitriões experientes e muito bem avaliados,
      comprometidos em fornecer estadias excelentes para seus hóspedes.</small
    >
  </span>
</div>

<div class="col-md-12 mt-2">
  <fa-icon [icon]="icons.calendar" [classes]="['text-primary']"></fa-icon>
  <span class="mx-2">
    <b>Cancelamento gratuito antes de 28 de fev...</b>
  </span>
</div>

<hr class="my-4" />

<div class="col-md-12">
  <small
    >Relaxe com toda a família nesta acomodação tranquila...para quem gosta de
    praia, mar, ciclovia, lazer, ter dias maravilhosos com pessoas amadas. O
    kitnet fica em frente a praia, na rua dos comércios, perto de mercado,
    padaria e agitação noturna. Possui Wi-Fi e TV coletiva. Possuímos roupa de
    cama e banho para um casal.</small
  >
</div>
<div class="col-md-12 mt-2">
  <span>
    <b>mais detalhes</b>
    <fa-icon [icon]="icons.arrow" class="mx-2"></fa-icon>
  </span>
</div>
