/* You can add global styles to this file, and also import other style files */



$main-color: #f77f00;
$secondary-color: #d62828;
$thirdy-color: #003049;
$light-color: #d6d3d9;

$theme-colors: (
  "light": $light-color,
  "dark": $thirdy-color,
  "primary": $main-color,
  "secondary": $secondary-color,
  "info": $thirdy-color,
  "success": #049756,
  "warning": #cf4137,
  "danger": $secondary-color,
);

.text-del {
    text-decoration: line-through;
}

.rounded {
  border-radius: 100px !important
}


/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
